$maincolor: hsl(25, 34%, 33%);
$bgmaincolor: hsla(24, 34%, 85%, 0.6);
$mainhovercolor: hsl(25, 60%, 40%);
$pmaincolor: white;
$psecondcolor: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: $psecondcolor;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: $pmaincolor;
  background-color: $maincolor;
  padding: 15px 30px;
  border-radius: 10px;
  &:hover {
    background-color: $mainhovercolor;
  }
}

.background {
  background-image: url("../img/coffee-1711431_1920.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  > * {
    height: fit-content;
  }
  .container {
    background-color: $bgmaincolor;
    padding: 2rem;
    margin: 4% 20%;
    margin-right: 30%;
    // background-color: rgba(45, 194, 186, 0.5)
    a {
      margin: 1rem;
    }
  }
}
