$maincolor: hsl(25, 34%, 33%);
$bgmaincolor: hsla(24, 34%, 85%, 0.6);
$mainhovercolor: hsl(25, 60%, 40%);
$pmaincolor: white;
$psecondcolor: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: $psecondcolor;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: $pmaincolor;
  background-color: $maincolor;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  &:hover {
    background-color: $mainhovercolor;
  }
}

.link-dash {
  justify-content: start;
  align-items: center;
  .list {
    color: $pmaincolor;
    background-color: $maincolor;
    margin: 0.5rem;
    padding: 1rem 0;
    border-radius: 10px;
  }
}

p {
  line-height: 1.65;
}

.background {
  background-image: url("../img/coffee-1711431_1920.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  > * {
    height: fit-content;
  }
  .container {
    h1 {
      font-weight: lighter;
    }
    background-color: $bgmaincolor;
    padding: 1.5rem;
    width: 55%;
    margin: auto;
    margin-top: 3rem;
  }
}

// awal bagian screen ukuran 768px

@media only screen and (max-width: 768px) {
  .background {
    .container {
      width: 75%;
      margin-top: 2rem;
    }
  }
}

// awal bagian screen ukuran 360px

@media only screen and (max-width: 360px) {
  .link-dash {
    justify-content: center;
    flex-direction: column;
    .list {
    }
  }
}
